*.png
*.def
*.pyc
build
dist
*.egg-info
*.swp
var/epumgmt/logs/ec*
var/epumgmt/runlogs/*
var/epumgmt/confs_used/*
var/epumgmt/persistence/*lock
var/epumgmt/persistence/*list
var/epumgmt/persistence/epumgmt.db
*.coverage
.idea
